
<!-- nguyên mẫu -->
<div>-	Truy suất trực tiếp vào biến “myVar”:{{myVar}}</div>
<div>-	Viết hàm getMyVar() trong (.ts) trả giá trị của “myVar”:{{getMyVar()}}</div>
<br>
<!-- in hóa -->
<div>-	Truy suất trực tiếp vào biến “myVar”:{{myVar |uppercase}}</div>
<div>-	Viết hàm getMyVar() trong (.ts) trả giá trị của “myVar”:{{getMyVar()|uppercase}}</div>
<br>
<!-- in thường -->
<div>-	Truy suất trực tiếp vào biến “myVar”:{{myVar|lowercase}}</div>
<div>-	Viết hàm getMyVar() trong (.ts) trả giá trị của “myVar”:{{getMyVar()|lowercase}}</div>
