<!-- biding-class.component.html -->
<h1 [class]="success">Trần Văn Nam</h1>
<h1 [class]="error">Trần Văn Nam</h1>
<h1 [class]="primary">Trần Văn Nam</h1>
<h1 [class]="normal">Trần Văn Nam</h1>
<h1 [ngClass]="multiClass">Trần Văn Nam</h1>

<h2 class="{{success}}">Cao</h2>
<h2 class="{{error}}">To</h2>
<h2 class="{{primary}}">Đẹp trai</h2>
<h2 class="{{normal}}">Con nhà giàu</h2>
<h2 class="{{multiClass}}">Học giỏi</h2>

<div [class]="textComplexity">Hay bốc phét</div>
<div class="{{textComplexity}}">Hay bốc phét</div>

