
<div class="row">
  <div class="col">
    <button [routerLink]="'binding'">Bài 3: Binding</button>
    <button routerLink="/binding-property">Bai 4: binding-property</button>
    <button routerLink="/binding-class"> Bai 5: binding-class</button>
    <button routerLink="/binding-style">Bài 6: binding-style</button>
    <button routerLink="/binding-event">Bài 7: binding-event</button>
    <button routerLink="/binding-two-way">Bài 8: binding-two-way</button>
    <button [routerLink]="'quadrtic-equation' ">Bài 9: quadrtic-equation</button>
    <button routerLink="/model-product">Bài 11 + 12: modle-product</button>

    <button routerLink="/service-product-model">Bài 13: List-product</button>
    <button routerLink="/list-product">product-catagory</button>
  </div>
  <div class="article">
    <router-outlet></router-outlet>
  </div>
</div>
